# GENERAL SETTING
DEPLOY_ENV=dev
DEBUG=False
ENABLE_DEBUG_TOOLBAR=False # Optional debug tool for dev, dont turn on production
ENABLE_SILK=False # Optional for request profiling Django

# DATABASE
DATABASE_URI=mysql://user:pass@ip:port/schema?charset=utf8
DATABASE_MONGO_URI=mongodb://xxx:test

# CELERY QUEUE
CELERY_REDIS_TYPE=sentinel
CELERY_BROKER_URL=redis://:pass@ip:6379/<db>

# CACHE
CACHE_URL=redis://:pass@ip:6379/<db>
CACHE_REDIS_PASS=xxx # Optional with cache redis sentinel

# SENTRY ERROR CHANNEL
SENTRY_DSN=https://xxxxxxxx@sentry.ghtk.vn/xx

# GHTK ID
CLIENT_GHTK_ID=xxx
CLIENT_GHTK_SECRET=xxx
GHTK_ID_DOMAIN_URL=https://auth.ghtklab.com
#REMOTE_GHTK_ID_URL=XXX # OPTIONAL
#GHTK_ID_VALIDATE_ACCESS_TOKEN_ONLINE=XXX # OPTIONAL

# GHTK CONNECTOR
USER_GROUP_API_TOKEN=xxx

# MQTT CONFIG
MQTT_HOST=mqtt.ghtklab.com
MQTT_PORT=8888
MQTT_USER=xxx
MQTT_PWD=xxx
