{% extends "adminsorting/base.html" %}
{% load i18n %}
{% load inspiniacss %}
{% load static %}

{% block title %}
    {% trans "Chi tiết" as title_action %}
    {% trans "Kịch bản chia chọn" %} - {{ title_action }}
{% endblock %}


{% block body_content %}
    {% trans "Chi tiết kịch bản" as title_action %}

    <div class="wrapper wrapper-content animated fadeInRight">
        {% include "message.html" %}

        <div class="row">
            <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
            <script src="{% static "js/plugins/select2/select2.full.min.js" %}"></script>
            <div class="col-md-12">
                <form method="post" class="form-horizontal" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>{{ title_action }}</h5>
                            {% if sorting_plan %}
                                <div class="ibox-tools">
                                    <a type="button" class="ls-modal" data-toggle="modal"
                                       data-href="{% url 'adminsorting:crossbelt-plan-delete' sorting_plan.pk %}"
                                       data-target="#base-modal">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        <div class="ibox-content">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Tên</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="plan-name" name="plan-name"
                                           value="{{ sorting_plan.name }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Mô tả</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="plan-desc" name="plan-desc"
                                           value="{{ sorting_plan.description }}">
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">Từ</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <input type="text" class="form-control clockpicker" name="plan-from"
                                               id="plan-from" value="{{ sorting_plan.from_at|time:'H:i'}}"
                                               placeholder="Từ" autocomplete="off">
                                    </div>
                                </div>
                                <label class="col-sm-1 control-label">Đến</label>
                                <div class="col-sm-4">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <input type="text" class="form-control clockpicker" name="plan-to" id="plan-to"
                                               value="{{ sorting_plan.to_at|time:'H:i'}}" placeholder="Đến"
                                               autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5> Layout Crossbelt</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content" style="display: none">
                            <img style="width: 100%; max-width:100%"
                                 src="https://cache.giaohangtietkiem.vn/image/show/55c23ebd-517e-4cab-a33b-c4a3274bf84e/LayoutCrossbelt.jpg">
                        </div>
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 style="color:#ed5565">{{ miss_station|length }} kho chưa được config</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-down"></i>
                                </a>
                            </div>
                        </div>
                        {% if miss_station %}
                            <div class="ibox-content" style="display: none">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>{% trans "ID" %}</th>
                                        <th>{% trans "Tên" %}</th>
                                        <th>{% trans "Code" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for station in miss_station %}
                                        <tr>
                                            <td>{{ station.pk }}</td>
                                            <td>{{ station.name }}</td>
                                            <td>{{ station.code }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>ZONE A</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                {% for chute in chutes_zone_a %}
                                    {% with chute_id=chute.id %}
                                        <div class="form-group col-md-6">
                                            <div class="col-sm-4">
                                                {% if chute.id in reject_chute %}
                                                    <label style="color:#ed5565"
                                                           class="col-sm-5 control-label">Máng {{ chute.id }}
                                                        (reject)</label>
                                                {% else %}
                                                    <label class="col-sm-5 control-label">Máng {{ chute.id }}</label>
                                                {% endif %}
                                                <div class="col-sm-7">
                                                    <select name="chute-{{ chute.id }}-trf-type"
                                                            id="trf-type-{{ chute.id }}" data-placeholder=" PTVC"
                                                            class="form-control trf-type select2-select">
                                                        {% if object_detail|get_item:chute_id %}
                                                            <option
                                                                    {% if object_detail|get_item:chute_id|get_item:"chute_type" == 0 %}
                                                                        selected {% endif %} value="0">Bay và bộ
                                                            </option>
                                                            <option
                                                                    {% if object_detail|get_item:chute_id|get_item:"chute_type" == 1 %}
                                                                        selected {% endif %} value="1">Bộ
                                                            </option>
                                                            <option
                                                                    {% if object_detail|get_item:chute_id|get_item:"chute_type" == 2 %}
                                                                        selected {% endif %} value="2">Bay
                                                            </option>
                                                        {% else %}
                                                            <option selected value="0">Bay và bộ</option>
                                                            <option value="1">Bộ</option>
                                                            <option value="2">Bay</option>
                                                        {% endif %}
                                                    </select>
                                                    {% if object_detail|get_item:chute_id %}
                                                        {% if object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                            <button name="bt-{{ chute.id }}" id="bt-{{ chute.id }}"
                                                                    onclick="selectStation({{ chute.id }})"
                                                                    type="button"
                                                                    style="margin-top: 5px; width: 100%">
                                                                <span style="color:#1ab394">Bao tổng</span>
                                                            </button>
                                                        {% else %}
                                                            <button name="bt-{{ chute.id }}" id="bt-{{ chute.id }}"
                                                                    onclick="selectStation({{ chute.id }})"
                                                                    type="button"
                                                                    style="margin-top: 5px; width: 100%">
                                                                <span>Bao thường</span>
                                                            </button>
                                                        {% endif %}
                                                    {% else %}
                                                        <button name="bt-{{ chute.id }}" id="bt-{{ chute.id }}"
                                                                onclick="selectStation({{ chute.id }})" type="button"
                                                                style="margin-top: 5px; width: 100%">
                                                            <span>Bao thường</span>
                                                        </button>
                                                    {% endif %}

                                                </div>
                                                <div class="col-sm-12">
                                                    {% if object_detail|get_item:chute_id and object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                        <div id="bt-station-{{ chute.id }}">
                                                            <select style="width: 100%"
                                                                    onchange="selectItem({{ chute.id }}, value)"
                                                                    id="{{ chute.id }}-bt-station"
                                                                    name="{{ chute.id }}-bt-station" class="bt-station">
                                                                {% if object_detail|get_item:chute_id and object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                                    {% with bt=object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                                        <option selected
                                                                                value="{{ bt.main_station.id }}">{{ bt.main_station.code }}-{{ bt.main_station.name }}</option>
                                                                    {% endwith %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    {% else %}
                                                        <div id="bt-station-{{ chute.id }}" hidden>
                                                            <select style="width: 100%"
                                                                    onchange="selectItem({{ chute.id }}, value)"
                                                                    id="{{ chute.id }}-bt-station"
                                                                    name="{{ chute.id }}-bt-station" class="bt-station">
                                                                {% if object_detail|get_item:chute_id and object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                                    {% with bt=object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                                        <option selected
                                                                                value="{{ bt.main_station.id }}">{{ bt.main_station.code }}-{{ bt.main_station.name }}</option>
                                                                    {% endwith %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="col-sm-12">
                                                    {% with chute_id=chute.id %}
                                                        <select name="chute-{{ chute.id }}-list-dest"
                                                                id="list-dest-{{ chute.id }}" multiple
                                                                data-placeholder=" Danh sách đích"
                                                                class="form-control list-dest">
                                                            {% if object_detail|get_item:chute_id %}
                                                                {% if object_detail|get_item:chute_id|get_item:"destination" %}
                                                                    {% for i in object_detail|get_item:chute_id|get_item:"destination" %}
                                                                        <option selected
                                                                                value="{{ i|get_item:'dst_code'}}|
                                                                            {{ i|get_item:'dst_type'}}">
                                                                            {{ i|get_item:'code_text'}}</option>
                                                                    {% endfor %}
                                                                {% else %}
                                                                    <option value="">---------</option>
                                                                {% endif %}
                                                            {% else %}
                                                                <option value="">---------</option>
                                                            {% endif %}
                                                        </select>
                                                    {% endwith %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>ZONE B</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                                {% for chute in chutes_zone_b %}
                                    {% with chute_id=chute.id %}
                                        <div class="form-group col-md-6">
                                            <div class="col-sm-4">
                                                {% if chute.id in reject_chute %}
                                                    <label style="color:#ed5565"
                                                           class="col-sm-5 control-label">Máng {{ chute.id }}
                                                        (reject)</label>
                                                {% else %}
                                                    <label class="col-sm-5 control-label">Máng {{ chute.id }}</label>
                                                {% endif %}
                                                <div class="col-sm-7">
                                                    <select name="chute-{{ chute.id }}-trf-type"
                                                            id="trf-type-{{ chute.id }}" data-placeholder=" PTVC"
                                                            class="form-control trf-type select2-select">
                                                        {% if object_detail|get_item:chute_id %}
                                                            <option
                                                                    {% if object_detail|get_item:chute_id|get_item:"chute_type" == 0 %}
                                                                        selected {% endif %} value="0">Bay và bộ
                                                            </option>
                                                            <option
                                                                    {% if object_detail|get_item:chute_id|get_item:"chute_type" == 1 %}
                                                                        selected {% endif %} value="1">Bộ
                                                            </option>
                                                            <option
                                                                    {% if object_detail|get_item:chute_id|get_item:"chute_type" == 2 %}
                                                                        selected {% endif %} value="2">Bay
                                                            </option>
                                                        {% else %}
                                                            <option selected value="0">Bay và bộ</option>
                                                            <option value="1">Bộ</option>
                                                            <option value="2">Bay</option>
                                                        {% endif %}
                                                    </select>
                                                    {% if object_detail|get_item:chute_id %}
                                                        {% if object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                            <button name="bt-{{ chute.id }}" id="bt-{{ chute.id }}"
                                                                    onclick="selectStation({{ chute.id }})"
                                                                    type="button"
                                                                    style="margin-top: 5px; width: 100%">
                                                                <span style="color:#1ab394">Bao tổng</span>
                                                            </button>
                                                        {% else %}
                                                            <button name="bt-{{ chute.id }}" id="bt-{{ chute.id }}"
                                                                    onclick="selectStation({{ chute.id }})"
                                                                    type="button"
                                                                    style="margin-top: 5px; width: 100%">
                                                                <span>Bao thường</span>
                                                            </button>
                                                        {% endif %}
                                                    {% else %}
                                                        <button name="bt-{{ chute.id }}" id="bt-{{ chute.id }}"
                                                                onclick="selectStation({{ chute.id }})" type="button"
                                                                style="margin-top: 5px; width: 100%">
                                                            <span>Bao thường</span>
                                                        </button>
                                                    {% endif %}
                                                </div>
                                                <div class="col-sm-12">
                                                    {% if object_detail|get_item:chute_id and object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                        <div id="bt-station-{{ chute.id }}">
                                                            <select style="width: 100%"
                                                                    onchange="selectItem({{ chute.id }}, value)"
                                                                    id="{{ chute.id }}-bt-station"
                                                                    name="{{ chute.id }}-bt-station" class="bt-station">
                                                                {% if object_detail|get_item:chute_id and object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                                    {% with bt=object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                                        <option selected
                                                                                value="{{ bt.main_station.id }}">{{ bt.main_station.code }}-{{ bt.main_station.name }}</option>
                                                                    {% endwith %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    {% else %}
                                                        <div id="bt-station-{{ chute.id }}" hidden>
                                                            <select style="width: 100%"
                                                                    onchange="selectItem({{ chute.id }}, value)"
                                                                    id="{{ chute.id }}-bt-station"
                                                                    name="{{ chute.id }}-bt-station" class="bt-station">
                                                                {% if object_detail|get_item:chute_id and object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                                    {% with bt=object_detail|get_item:chute_id|get_item:"bt_station" %}
                                                                        <option selected
                                                                                value="{{ bt.main_station.id }}">{{ bt.main_station.code }}-{{ bt.main_station.name }}</option>
                                                                    {% endwith %}
                                                                {% endif %}
                                                            </select>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-sm-8">
                                                <div class="col-sm-12">
                                                    {% with chute_id=chute.id %}
                                                        <select name="chute-{{ chute.id }}-list-dest"
                                                                id="list-dest-{{ chute.id }}" multiple
                                                                data-placeholder=" Danh sách đích"
                                                                class="form-control list-dest">
                                                            {% if object_detail|get_item:chute_id %}
                                                                {% if object_detail|get_item:chute_id|get_item:"destination" %}
                                                                    {% for i in object_detail|get_item:chute_id|get_item:"destination" %}
                                                                        <option selected
                                                                                value="{{ i|get_item:'dst_code'}}|
                                                                            {{ i|get_item:'dst_type'}}">
                                                                            {{ i|get_item:'code_text'}}</option>
                                                                    {% endfor %}
                                                                {% else %}
                                                                    <option value="">---------</option>
                                                                {% endif %}
                                                            {% else %}
                                                                <option value="">---------</option>
                                                            {% endif %}
                                                        </select>
                                                    {% endwith %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-1 col-sm-offset-6">
                            <button class="btn btn-primary" type="submit">
                                {% trans 'Cập nhật' %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/plugins/select2/select2.full.min.js" %}"></script>
    <script>
        $(`.list-dest`).select2({
            placeholder: 'Select an item',
            ajax: {
                url: "{% url 'api:crossbelt-get-dst'%}",
                dataType: 'json',
                data: function (params) {
                    var query = {
                        search: params.term,
                    }
                    return query
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            }
        });
        $(`.bt-station`).select2({
            placeholder: 'Chọn kho đích',
            ajax: {
                url: "{% url 'api:crossbelt-get-dst-station'%}",
                dataType: 'json',
                data: function (params) {
                    var query = {
                        search: params.term,
                    }
                    return query
                },
                processResults: function (data) {
                    return {
                        results: data
                    };
                },
                cache: true
            }
        });

        function selectStation(chute_id) {
            let btStation = $('#bt-station-' + chute_id)
            if (btStation.is(':hidden')) {
                btStation.show()
            } else {
                btStation.hide()
            }
        }

        function selectItem(chute_id, value) {
            let bt = $('#bt-' + chute_id)
            let btStation = $('#bt-station-' + chute_id)
            if (value !== 'deselect') {
                bt.empty()
                bt.append("<span style='color:#1ab394'>Bao tổng</span>")
            } else {
                btStation.hide()
                bt.empty()
                bt.append("<span>Bao thường</span>")
            }

        }
    </script>
{% endblock %}
