{% extends "adminsorting/base.html" %}
{% load static %}

{% block title %}Warehouse Management System{% endblock %}

{% block body_content %}
    <div class="wrapper wrapper-content">
        {% include "message.html" %}
        <div class="row">
            <div class="col-lg-12">
                <form method="POST" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" class="form-control datetimechoicer1" name="from_time" required
                                       id="from_time" value="{{ from_time }}" autocomplete="off" width="125px">
                                <span style="border-right: none" class="input-group-addon"><i
                                        class="fa fa-arrow-right"></i></span>
                                <input type="text" class="form-control datetimechoicer1" name="to_time" required
                                       id="to_time" value="{{ to_time }}" autocomplete="off" width="125px">
                            </div>
                        </div>
                        <div class="col-sm-1">
                            <button id="submitButton" class="btn btn-primary" type="submit" style="padding-top: 5px">
                                Thống Kê
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <div class="chart-area">
                            <div class="chart-wait"></div>
                            <div id="echarts" style="width: 100%; height: 800px;"
                                 data-url="{% url 'api:crossbelt-statistic-induction' %}?from={{ from_time }}&to={{ to_time }}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static "js/jquery-3.1.1.min.js" %}"></script>
    <script src="{% static "js/plugins/echart/echarts.js" %}"></script>
    <script src="{% static "js/plugins/datetimepicker/bootstrap-datetimepicker.min.js" %}"></script>
    <script>
        $('.input-group .datetimechoicer1').datetimepicker({
            minView: 1,
            autoclose: true,
        });
    </script>

    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById("echarts"))
        barOption = {
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow',
                },
                backgroundColor: 'rgba(255,255,255,0.7)',
                textStyle: {
                    color: 'rgba(0,0,0,1)',
                    fontWeight: '300',
                    fontStyle: 'italic',
                },
            },
            grid: {
                left: '5%',
                right: '5%',
            },

            title: {
                show: true,
                text: 'Thống kê sản lượng chia chọn theo từng đầu cấp',
                left: 'center',
                textStyle: {
                    fontStyle: 'normal',
                    fontWeight: '300',
                    fontSize: 24,
                }
            },
            toolbox: {
                show: true,
                orient: 'vertical',
                left: 'right',
                top: 'center',
                feature: {
                    mark: {show: true},
                    saveAsImage: {
                        show: true,
                        title: 'tải ảnh về'
                    }
                }
            },
            legend: {
                bottom: true,
                icon: 'roundRects'
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {show: false},
                }
            ],
            yAxis: [
                {
                    type: 'value',
                }
            ],
        };

        function fillSeries(sets) {
            series = [];
            for (i = 0; i < sets.length; i++) {
                var tmp = {
                    name: sets[i].label,
                    type: 'bar',
                    markLine: {
                        data: [
                            {type: 'average'}
                        ],
                        precision: 0,
                    },
                    markPoint: {
                        data: [
                            {type: 'max', symbolSize: [70, 60]},
                        ]
                    },
                    itemStyle: {
                        color: sets[i].backgroundColor,
                    },
                    emphasis: {
                        focus: 'series'
                    },
                    label: {
                        show: true,
                        position: 'top',
                    },
                    data: sets[i].data,
                };
                series.push(tmp);
            }

            return series;
        }

        function drawCharBar() {
            var $echarts = $("#echarts");
            $.ajax({
                url: $echarts.data("url"),
                beforeSend: function (xhr) {
                    $(".chart-wait").append('<h4 style="text-align:center">Đang thống kê dữ liệu. Vui lòng chờ trong giây lát!</h4>')
                    $(".chart-wait").append('<div class="sk-spinner sk-spinner-cube-grid"> <div class="sk-cube"></div> <div class="sk-cube"></div> <div class="sk-cube"></div> <div class="sk-cube"></div> <div class="sk-cube"></div> <div class="sk-cube"></div> <div class="sk-cube"></div> <div class="sk-cube"></div> <div class="sk-cube"></div> </div>');
                },
                success: function (data) {
                    myChart.setOption(barOption);
                    myChart.setOption({
                        xAxis: {
                            data: data.labels,
                        },
                        series: fillSeries(data.datasets)
                    });
                    $(".chart-wait").remove()
                }
            });
        }
    </script>
    <script>
        drawCharBar();
    </script>
{% endblock %}